#head{
    color: blue;
}
h1{
    text-align: center;
}
#para{
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
}
.but{
    display: flex;
    
}
#button-1{
    display: inline-block;
    margin-left: 40%;
    height: 50px;
    width: 130px;
    font-size: large;
    border-radius: 5px;
    border: none;
    background-color: blue;
    color: white;
}
#button-1:hover{
    background-color: white;
    color: blue;
    border: 1px solid grey;
    cursor: pointer;
}
#button-2:hover{
    cursor: pointer;
    background-color: blue;
    color: white;
}
#button-2{
    display: inline-block;
    margin-left:10px;
    height: 50px;
    width: 130px;
    font-size: large;
    border-radius: 5px;
    border: none;
    background-color: white;
    border: 1px solid rgb(167, 162, 162);
    color: blue;
}
.container{
    display: flex;
    justify-content: space-between; 
}
table,td,th{
    border: 1px solid rgb(193, 187, 187);
    border-collapse: collapse;
    padding: 10px 10px;
    text-align: left;
}
#box-1{
    margin-left: 200px;
}
#box-2{
    flex:1; 
    margin: auto 10%;  
}
#box-3{
    margin-right: 200px;
}
img{
    height: 350px;
    width: 300px;
}
iframe{
    height: 300px;
}
a{
    display: inline-block;
    color:blue;
}
.p{
    display:inline-block;
}
#facebook{
    margin-left: 650px;
}
td{
    font-size: x-small;
}